.header {
  background: url(../public/img/head_bg.svg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 600px;
  height: 100vh;
  max-height: 800px;
  color: white;
}

.header .container {
  /* display: flex;
  justify-content: flex-start; */
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.head_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 40px 0;
}

.head_nav ul {
  display: flex;
  gap: 120px;
}

.head_nav ul li {
  list-style: none;
}

.head_nav ul li a {
  display: block;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.15s;
}

.head_nav ul li a:hover {
  border-bottom: 3px solid white;
}

.head_nav .burger_btn{
  background: url(../public/img/burger.svg) no-repeat;
  background-position: 50% 50%;
  outline: 0;
  border: 0;
  padding: 10px;
  box-sizing: content-box;
  width: 24px;
  height: 17px;
  display: none;
  margin-top: 8px;
}

.head_nav_mobile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.head_nav_mobile_animating{
  animation: navSlide;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.head_nav_mobile_animating .close_btn{
  /* transform: rotate(30deg); */
}

.head_nav_mobile_animating_out{
  animation: navSlide;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(1, 0.165, 0.82, 0.075);
}

.head_nav_mobile .overlay{
  width: 100%;
  height: 100%;
  background-color: #3050C0;
  opacity: 0.97;
}

.header_nav_mobile_block{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.nav_mobile_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.nav_mobile_header .close_btn{
  background: url(../public/img/close_btn.svg) no-repeat;
  background-position: 50% 50%;
  outline: 0;
  border: 0;
  padding: 10px;
  box-sizing: content-box;
  width: 24px;
  height: 17px;
  transition: 0.5s;
}

.nav_mobile_footer{
  text-align: center;
  padding-bottom: 30px;
} 

.header_nav_mobile_block ul{
  text-align: center;
}

.header_nav_mobile_block ul li{
  margin: 15px 0;
  list-style: none;
}

.header_nav_mobile_block ul li a{
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 0;
}

.head_block_wrapper {
  position: relative;
  z-index: 2;
}

.head_block {
  max-width: 650px;
  margin-top: 100px;
}

.head_block::after {
  content: '';
  display: block;
  position: absolute;
  width: 500px;
  height: 550px;
  background: url(../public/img/head_img.svg) no-repeat;
  background-size: contain;
  top: -80px;
  right: 0px;
  /* right: -100px; */
  z-index: -1;
}

.head_block h1 {}

.head_block p {}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.section_block {
  max-width: 650px;
}

.section_about .container {
  position: relative;
}

.section_about .section_block::after {
  content: '';
  display: block;
  position: absolute;
  width: 461px;
  height: 461px;
  background: url(../public/img/about_img.svg) no-repeat;
  background-size: contain;
  top: -50px;
  right: 0;
  z-index: -1;
}

.services{

}

.services_block{
  display: grid;
  grid-template-columns: 350px auto;
  overflow: hidden;
}

.services_nav ul li{
  line-height: 35px;
  margin: 30px 0;
  list-style: none;
  position: relative;
  transition: 0.15s;
  font-size: 17px;
}

.services_nav_item_active{
  color: black;
  font-weight: bold;
}

.services_nav ul li:hover{
  color: #5970EA;
}

.services_nav ul li::before{
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 15px;
  left: -20px;
  top: 9px;
  background: url(../public/img/marker.svg) no-repeat;
}

.services_nav ul li:hover{
  cursor: pointer;
}

/* .services_card_wrapper{
  overflow: hidden;
} */

.services_card{
  background: url(../public/img/service_card_bg.svg) no-repeat;
  background-size: cover;
  background-position: right top;
  color: white;
  padding: 46px 52px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.services_card_animate{
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-name: slidein;
  position: relative;
}

.services_card_animate:before{
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: pseudo_slidein;
  animation-direction: reverse;
}

.services_card:before{
  content: '';
  display: block;
  position: absolute;
  width: 170px;
  height: 170px;
  left: -90px;  
  bottom: -90px;
  z-index: -1;
  background: url(../public/img/card_circle.svg) no-repeat;
}

.services_card_content{
  max-width: 400px;
}

.services_card_icon{
  position: absolute;
  right: 0;
  border: 0;
}

.services_card h3{
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 40px;
}

.services_card p{
  line-height: 35px;
}

.services_card ul{
  margin: 40px 0;
  list-style-position: inside;
}

.services_card ul li{
  line-height: 35px;
}

.contacts {
  display: flex;
  align-items: flex-end;
  background: url(../public/img/footer_bg.svg) no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 750px;
  height: 92vh;
  max-height: 800px;
  color: white;
}

.container_contacts{
  max-width: 1030px;
  margin: 0 auto;
  text-align: center;
}

.contacts_line{
  display: flex;
  gap: 75px;
  list-style: none;
}

.contacts_form{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 90px;
}

.contacts_form input{
  padding: 20px;
  border-radius: 50px;
  border: 0;
  outline: 0;
}

.contacts_form textarea{
  grid-column: 1 / 3;
  border-radius: 20px;
  padding: 20px;
  outline: 0;
  resize: vertical;
  min-height: 150px;
  text-align: center;
}

.contacts_form textarea:focus{
  text-align: left;
}

.contacts_form button[type="submit"]{
  font-family: inherit;
  grid-column: 1 / 3;
  margin: auto;
  padding: 20px 80px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 2px solid transparent;
  background-color: #02A3FF;
  border-radius: 50px;
  transition: 0.15s;
}

.contacts_form button[type="submit"]:hover{
  border: 2px solid white;
  cursor: pointer;
}

.contacts_form button[type="submit"]:active{
  border: 2px solid grey;
  background-color: #008fe2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 0 20px;
  background-color: #1F2D6D;
  color: white;
}

.footer span{
  font-size: 16px;

}

@keyframes navSlide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    transform: translateX(80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pseudo_slidein {
  from {
    left: -80px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 1199px) {
  .container{
    max-width: 960px;
  }
  .head_block{
    margin-top: 40px;
  }
  .head_block::after{
    width: 300px;
    height: 300px;
    top: 0px;
  }
  .section_about .section_block::after{
    width: 300px;
    height: 300px;
    top: unset;
    bottom: 0;
  }
}
@media only screen and (max-width: 991px) {
  .container{
    max-width: 720px;
  }
  .services_block{
    grid-template-columns: 250px auto;
  }
  .head_nav ul{
    gap: 70px;
  }
  .head_block{
    margin-top: 30px;
  }
  .head_block::after{
    width: 350px;
    height: 350px;
    top: 280px;
  }
  .section_about .section_block::after{
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .container{
    max-width: 540px;
  }
  .header{
    max-height: 750px;
  }
  .head_block::after{
    top: 290px;
  }
  .head_nav ul{
    display: none;
  }
  .head_nav .burger_btn{
    display: block;
  }
  .services_block{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .services_nav ul{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    margin-bottom: 30px;
    /* flex-wrap: wrap;
    justify-content: center; */
    gap: 25px;
  }
  .services_nav ul li{
    margin: 5px 0;
    font-size: 15px;
  }
  .contacts{
    height: 850px;
    max-height: fit-content;
  }
  .contacts_line{
    flex-direction: column;
    gap: 20px;
  }
  .contacts_form{
    grid-template-columns: 100%;
  }
  .contacts_form button[type="submit"]{
    grid-column: 1 / 2;
    width: 100%;
    font-size: 15px;
    padding: 20px 30px;
  }
  .contacts_form textarea{
    grid-column: 1 / 2;
  }
}
@media only screen and (max-width: 575px) {
  .container{
    width: 100%;
    padding: 15px;
  }
  .head_nav{
    padding-top: 25px;
  }
  .head_block::after{
    width: 220px;
    height: 220px;
    top: 360px;
  }
  .services_nav ul{
    gap: 10px;
    line-height: 20px;
  }
}